.character-list {
  list-style: none;
  padding-bottom: 4rem;
  overflow-y: hidden;
  overflow-x: scroll;

  display: flex;

  &::-webkit-scrollbar {
    display: none;
   }

  &__item {
    width: 48%;
  }
}