@import './variables';
@import './buttons';

.signup {
  margin-top: 5rem;
}

.login {
  margin-top: 8rem;
}

.signup,
.login {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  max-width: 26rem;

  display: flex;
  justify-content: center;
  align-items: center;

  .form {
    box-shadow: 0 1rem 8px 0 rgba(0, 0, 0, 0.2);
    padding: 3rem;
    border-radius: 5px;
    background-color: $color-white;
    color: $color-background;

    &__title {
      text-align: center;
    }

    &__fieldset-wrapper {
      margin-top: 1.5rem;
    }
  }

  .error {
    color: $color-status-red;
  }
}
