*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.6rem;
}

.app {
  min-height: 100vh;
  position: relative;
}

.section {
  padding: 5rem 0;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.signup-login {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 55%;
  left: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

@import '../../sass/signup-login';
