@import '../../sass/variables';

.character-card {
  min-width: 50rem;
  height: 22rem;
  margin-right: 2rem;
  border-radius: 10px;
  overflow: hidden;
  background-color: $color-background;
  color: $color-text-light;
  box-shadow: rgb(0, 0, 0 / 10%) 0px 4px 6px -1px, rgb(0, 0, 0 / 6%) 0px 2px 4px -1px;

  display: flex;

  &__img-wrapper {
    width: 40%;
    margin-right: 1rem;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-position: center center;
    object-fit: cover;
  }

  &__status {
    display: flex;
    align-items: center;

    &-icon {
      height: 10px;
      width: 10px;
      margin-right: 0.375rem;
      border-radius: 50%;
    }
  }

  &__content-section {
    padding: 1rem 0;

    .title {
      color: $color-text-dark;
      font-weight: bold;
    }
  }
}

.alive {
  background: $color-status-green;
}

.dead {
  background: $color-status-red;
}
